@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #000000;
    color: antiquewhite;
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
}
h1{
    text-align: center;
}
nav{
    text-align: center;
}
a{
    text-align: center;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 300;
}
